@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter',sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0ce94d;
}
.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,.212);
}
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde9bad7; 
}
.form-image img{
    width: 30rem;
}
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#f3bad5d7;
    padding: 3rem;
}
.form-header {
    display: flex;
    justify-content: space-between;
}
.login-button {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer; 
}
.login-button button:hover {
    background-color: #4c45dff1;
    font-size: 16px;
}
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.form-header h1::after {
    content:'';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0;
    position: absolute;
    border-radius: 10px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 1rem 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
}
.input-box input {
    margin: 0.6rem 0;
    padding: 2px;
    border: none;
    border-radius: 10px;
    height: 40px;
    box-shadow: 7px 7px 7px #0000001c;
}
.input-box input:hover {
    background-color: #eeeeee75;
}
.input-box label .gender-group h6 {
    font-size: 0.70rem;
    font-weight: 600;
    color: #000000c0;
}
.input-box input::placeholder {
    color: #000000be;
}
.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 0.5rem;
}
.gender-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gender-input input {
    margin-left: 16px;
}
.gender-input label {
    font-size: 0.80rem;
    font-weight: 600;
    color: #000000c0;
}
.continue-button button {
    border: none;
    width: 100%;
    margin-top: 1.5rem;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button button:hover{
    background-color: #6b63fff1;
}
.continue-button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}
@media screen and (max-width:1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width:1064px){
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow-y:scroll;
        flex-wrap: nowrap; 
        max-height: 10rem;
        padding-right: 3rem;
    }
    .gender-input {
        margin-right: 5px;
    }
    .form-header {
        margin-bottom: 30px;
    }
}
